<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Templates.Properties.Settings.Telephone_ServiceConnectionString"
            connectionString="Data Source=POTFOREK;Initial Catalog=Telephone_Service;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>